In [8]:
# import packages for analysis and modeling
import pandas as pd  # data frame operations
#from pandas.tools.plotting import scatter_matrix  # scatter plot matrix
from pandas import Series

import warnings
warnings.filterwarnings("ignore")

In [9]:
OG_DATA = pd.read_csv('Zip_Zhvi_SingleFamilyResidence.csv', encoding = "ISO-8859-1")

OG_DATA.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06
0,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,1,337200.0,338200.0,339000.0,...,1047600,1049400,1048800,1049900,1054300,1059400,1067800,1080400,1082300,1072200
1,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,2,210400.0,212200.0,212200.0,...,338100,336700,336100,336200,335500,334200,333500,333500,333400,332300
2,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,3,502900.0,504900.0,506300.0,...,1319100,1317900,1319800,1324200,1330000,1336400,1342000,1347400,1345200,1334500
3,91940,77449,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,95400.0,95600.0,95800.0,...,178500,179400,180300,181100,182100,183300,183000,181800,181800,182800
4,93144,79936,El Paso,TX,El Paso,El Paso County,5,77300.0,77300.0,77300.0,...,125700,126400,126900,127600,128200,128600,128900,128700,128500,128800

In [10]:
OG_DATA.describe()

,RegionID,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06
count,15605.000000,15605.000000,15605.000000,1.439100e+04,1.439100e+04,1.439100e+04,1.439100e+04,1.439100e+04,1.439100e+04,1.439100e+04,...,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04,1.560500e+04
mean,80819.456392,47731.349888,7803.000000,1.153577e+05,1.155151e+05,1.156695e+05,1.158181e+05,1.159745e+05,1.161459e+05,1.163567e+05,...,2.855837e+05,2.871273e+05,2.885632e+05,2.897514e+05,2.906846e+05,2.914012e+05,2.913699e+05,2.907206e+05,2.901007e+05,2.897931e+05
std,31523.484109,28909.601262,4504.919811,8.444114e+04,8.462635e+04,8.480961e+04,8.499540e+04,8.520270e+04,8.544333e+04,8.573732e+04,...,3.654986e+05,3.637144e+05,3.612643e+05,3.590457e+05,3.568047e+05,3.554297e+05,3.542970e+05,3.522734e+05,3.494364e+05,3.472365e+05
min,58196.000000,1001.000000,1.000000,1.120000e+04,1.130000e+04,1.140000e+04,1.150000e+04,1.170000e+04,1.180000e+04,1.190000e+04,...,2.170000e+04,2.160000e+04,2.160000e+04,2.190000e+04,2.210000e+04,2.220000e+04,2.220000e+04,2.210000e+04,2.220000e+04,2.210000e+04
25%,67411.000000,22735.000000,3902.000000,6.620000e+04,6.640000e+04,6.660000e+04,6.660000e+04,6.680000e+04,6.690000e+04,6.710000e+04,...,1.322000e+05,1.333000e+05,1.345000e+05,1.355000e+05,1.361000e+05,1.365000e+05,1.364000e+05,1.362000e+05,1.362000e+05,1.366000e+05
50%,77919.000000,45843.000000,7803.000000,9.640000e+04,9.650000e+04,9.660000e+04,9.670000e+04,9.670000e+04,9.680000e+04,9.700000e+04,...,1.971000e+05,1.985000e+05,2.002000e+05,2.015000e+05,2.023000e+05,2.032000e+05,2.035000e+05,2.034000e+05,2.033000e+05,2.039000e+05
75%,90265.000000,73439.000000,11704.000000,1.401000e+05,1.402000e+05,1.402500e+05,1.405000e+05,1.408000e+05,1.409000e+05,1.410500e+05,...,3.187000e+05,3.202000e+05,3.217000e+05,3.236000e+05,3.257000e+05,3.272000e+05,3.280000e+05,3.278000e+05,3.273000e+05,3.274000e+05
max,753844.000000,99901.000000,15605.000000,3.668600e+06,3.696500e+06,3.722200e+06,3.747700e+06,3.775400e+06,3.807600e+06,3.844200e+06,...,1.828550e+07,1.809330e+07,1.764570e+07,1.705850e+07,1.644850e+07,1.610690e+07,1.593090e+07,1.560050e+07,1.540190e+07,1.550500e+07

In [11]:
def totalNulls(df):
    initNull = df.isnull().sum()
    total = 0
    for i in initNull:
        if i > 0:
            total = total+i
    return "Total Nulls: {}".format(total)

print(totalNulls(OG_DATA))
print(OG_DATA.shape)

Total Nulls: 188570
(15605, 286)

In [12]:
data_001 = OG_DATA.dropna()
print(totalNulls(data_001))
print(data_001.shape)
print('Percentage of Data: {}'.format(data_001.shape[0]/OG_DATA.shape[0]))

Total Nulls: 0
(13301, 286)
Percentage of Data: 0.8523550144184556

In [13]:
data_001.RegionID = data_001.RegionID.apply(str)
#data_001.loc[:,'RegionID'] = data_001.loc[:,'RegionID'].apply(str)

count = 0
to_keep = []
for c in data_001.RegionID:
    if (len(c) == 5):
        to_keep.append(count)
        
    count=count+1

    
data_002 = data_001.iloc[to_keep]
print(totalNulls(data_002))
print(data_002.shape)

data_002.RegionID = data_002.RegionID.apply(str)
count=0
for c in data_002.RegionID:
    if (len(c) != 5):
        count=count+1

data_003 = data_002.iloc[:,1:]
print('Bad zips: {}'.format(count))
print('Percentage of Data Kept: {}'.format(data_003.shape[0]/OG_DATA.shape[0]))

Total Nulls: 0
(13109, 286)
Bad zips: 0
Percentage of Data Kept: 0.8400512656199935

In [14]:
data_003.describe()

,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,...,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06
count,13109.000000,13109.000000,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04,...,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04,1.310900e+04
mean,46755.084751,7258.658250,1.193017e+05,1.194644e+05,1.196244e+05,1.197786e+05,1.199410e+05,1.201197e+05,1.203389e+05,1.205857e+05,...,3.038962e+05,3.055261e+05,3.070772e+05,3.083921e+05,3.094738e+05,3.103152e+05,3.103279e+05,3.096683e+05,3.089972e+05,3.086167e+05
std,29453.653285,4450.582705,8.650349e+04,8.669985e+04,8.689398e+04,8.709079e+04,8.730986e+04,8.756347e+04,8.787274e+04,8.822651e+04,...,3.293095e+05,3.294944e+05,3.297167e+05,3.301190e+05,3.303429e+05,3.300062e+05,3.290771e+05,3.279201e+05,3.257260e+05,3.232613e+05
min,1001.000000,1.000000,1.120000e+04,1.130000e+04,1.140000e+04,1.150000e+04,1.170000e+04,1.180000e+04,1.190000e+04,1.200000e+04,...,2.410000e+04,2.430000e+04,2.450000e+04,2.470000e+04,2.480000e+04,2.460000e+04,2.490000e+04,2.480000e+04,2.390000e+04,2.340000e+04
25%,20747.000000,3409.000000,6.950000e+04,6.960000e+04,6.980000e+04,6.990000e+04,7.010000e+04,7.020000e+04,7.040000e+04,7.060000e+04,...,1.433000e+05,1.448000e+05,1.457000e+05,1.465000e+05,1.471000e+05,1.477000e+05,1.476000e+05,1.476000e+05,1.476000e+05,1.479000e+05
50%,44428.000000,6951.000000,1.002000e+05,1.003000e+05,1.003000e+05,1.005000e+05,1.005000e+05,1.007000e+05,1.009000e+05,1.009000e+05,...,2.148000e+05,2.163000e+05,2.177000e+05,2.189000e+05,2.204000e+05,2.213000e+05,2.217000e+05,2.216000e+05,2.213000e+05,2.219000e+05
75%,74075.000000,11012.000000,1.442000e+05,1.443000e+05,1.445000e+05,1.446000e+05,1.448000e+05,1.448000e+05,1.450000e+05,1.454000e+05,...,3.444000e+05,3.464000e+05,3.481000e+05,3.497000e+05,3.510000e+05,3.523000e+05,3.530000e+05,3.526000e+05,3.524000e+05,3.520000e+05
max,98847.000000,15605.000000,3.668600e+06,3.696500e+06,3.722200e+06,3.747700e+06,3.775400e+06,3.807600e+06,3.844200e+06,3.884000e+06,...,7.272600e+06,6.938700e+06,6.677600e+06,6.649500e+06,6.626300e+06,6.597100e+06,6.852200e+06,6.996000e+06,6.929400e+06,6.854400e+06

In [15]:
data_003.to_csv('clean_house_data.csv', index = False)